html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
    scroll-snap-type: y;
    background-color: black;
    padding: env(safe-area-inset);
}

.bg-image {
  height: 100vh;
}

#over-img {
  width: 450px;
  height: 414px;  
}

#tw {
  float: right; width: 45px; padding-top: 5px; /* modify twitter map */
}

#tw2 {
  float: center; width: 45px;
  visibility: hidden;

}

#ig {
  float: right; margin-right: 10%; width: 50px; 
}

#ig2 {
  float: center; margin-right: 0%; width: 50px;
  visibility: hidden;
}

#ctext {
  color: black; float: left; margin-left: 10%; font-size: 30px; 
}

#ctext1 {
  color: black; float: left; font-size: 30px; 
  visibility: hidden;
}

#ctext2 {
  float: center; font-size: 18px; 
  visibility: hidden;
  border: 1px solid black; width: 100%; padding: 0px; margin-top: 10px; font-size: 18px;
}

#ptext {
  color: black; float: left; font-size: 30px;
}

#ptext2 {
  float: center; font-size: 18px;
  visibility: hidden;
  border: 1px solid black; width: 100%; padding: 0px; font-size: 18px;
}

#left {
  padding-left: 2%; padding-top: 210px;
}

#right {
  padding-right: 2%; padding-top: 205px
}

@media (max-width: 1080px) {

  #tw {
    margin-top: 50px;
  }

  #ig {
    margin-right: -45px;
  }
  
  #ctext {
    margin-left: 0%;
  }

  #ptext {
    margin-right: 50px;
  }
}

[aria-current="page"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

@media (max-height: 625px) and (max-width: 925px), (max-height: 200px) and (max-width: 525px) {
  #over-img {
    width: 250px;
    height: 230px;
  }

  [aria-current="page"] {
    pointer-events:all;
    cursor: default;
    text-decoration: none;
    color: black;
  }

  #tw2 {
    width: 45px;
    margin-top:15px;
    visibility: visible;
    filter: invert(100%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ig2 {
    width: 50px;
    margin-top:15px;
    margin-left:15px;
    visibility: visible;
    filter: invert(100%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ctext{
   visibility: hidden;
  }

  #ctext2{
    border-color: rgba(256,256,256,0);
    font-size: 18px;
    margin-left:0px;
    visibility: visible;
    background-color: rgba(256,256,256,0.35);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ptext {
    visibility: hidden;
  }

  #ptext2 {
    border-color: rgba(256,256,256,0);
    font-size: 18px;
    visibility: visible;
    background-color: rgba(256,256,256,0.35);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #tw {
    visibility: hidden;
  }
  
  #ig {
    visibility: hidden;
  }

  
}

@media (max-width: 925px) {
  #over-img {
    width: 250px;
    height: 230px;
  }

  [aria-current="page"] {
    pointer-events: all;
    cursor: default;
    text-decoration: none;
    color: black;
  }

  #ctext{
   visibility: hidden;
  }

  #ctext2{
    font-size: 18px;
    margin-left:0px;
    visibility: visible;
  }

  #ptext {
    visibility: hidden;
  }

  #ptext2 {
    font-size: 18px;
    visibility: visible;
  }

  #tw {
    visibility: hidden;
  }

  #tw2 {
    width: 45px;
    margin-top:15px;
    visibility: visible;
  }
  #ig {
    visibility: hidden;
  }

  #ig2 {
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
    visibility: visible;
  }
}

@media (max-height: 325px) and (max-width: 925px), (max-height: 200px) and (max-width: 525px) {
  .bg-image {
    height: auto;
  }
  
  #over-img {
    width: 250px;
    height: 230px;
  }

  [aria-current="page"] {
    pointer-events:all;
    cursor: default;
    text-decoration: none;
    color: black;
  }

  #tw2 {
    width: 45px;
    margin-top:15px;
    visibility: visible;
    filter: invert(100%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ig2 {
    width: 50px;
    margin-top:15px;
    margin-left:15px;
    visibility: visible;
    filter: invert(100%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ctext{
   visibility: hidden;
  }

  #ctext2{
    border-color: rgba(256,256,256,0);
    font-size: 18px;
    margin-left:0px;
    visibility: visible;
    background-color: rgba(256,256,256,0.35);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #ptext {
    visibility: hidden;
  }

  #ptext2 {
    border-color: rgba(256,256,256,0);
    font-size: 18px;
    visibility: visible;
    background-color: rgba(256,256,256,0.35);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }

  #tw {
    visibility: hidden;
  }
  
  #ig {
    visibility: hidden;
  }

  
}

@media (max-height: 600px) {
  .bg-image {
    height:auto;
  }

}